@font-face {
    font-family: "SF Pro Text";
    src: url("../assets/fonts/sf-pro/SF-Pro-Text/sf-pro-text_regular.woff2") format("woff2");
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/fonts/sf-pro/SF-Pro-Display/sf-pro-display_regular.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .gradient {
        background-image: linear-gradient(90deg, #cb1333, #de45c1, #b96be2, #84a9e0, #23d43b, #d0bb08, #eb6d17);
        background-clip: text;
    }

    .gradient-footer {
        background-image: linear-gradient(90deg, #0077ED, #0077ED);
        background-clip: text;
    }

    .heading-md {
        font-size: 48px;
    }

    .subheading-md {
        font-size: 24px;
    }

    .button-md {
        padding: 11px 21px;
        font-size: 17px;
    }

    .sm-ip15pro {
        background-image: url("../assets/img/Heroes/iPhone-15-Pro/hero_iphone15pro__i70z9oz3hj2i_small_2x.jpg");
    }

    .md-ip15pro {
        height: 650px;
        background-image: url("../assets/img/Heroes/iPhone-15-Pro/hero_iphone15pro__i70z9oz3hj2i_medium_2x.jpg");
    }

    .lg-ip15pro {
        background-image: url("../assets/img/Heroes/iPhone-15-Pro/hero_iphone15pro__i70z9oz3hj2i_large_2x.jpg");
    }


    .sm-ip15 {
        background-image: url("../assets/img/Heroes/iPhone-15/hero_iphone15_announce__uuemlcwczn6u_small_2x.jpg");
    }

    .md-ip15 {
        height: 650px;
        background-image: url("../assets/img/Heroes/iPhone-15/hero_iphone15_announce__uuemlcwczn6u_medium_2x.jpg");
    }

    .lg-ip15 {
        background-image: url("../assets/img/Heroes/iPhone-15/hero_iphone15_announce__uuemlcwczn6u_large_2x.jpg");
    }

    .sm-macbook {
        background-image: url("../assets/img/Heroes/Macbook-Air/hero_macbook_air_m3__cp4t7pn8zqaa_small_2x.jpg");
    }

    .md-macbook {
        height: 650px;
        background-image: url("../assets/img/Heroes/Macbook-Air/hero_macbook_air_m3__cp4t7pn8zqaa_medium_2x.jpg");
    }

    .lg-macbook {
        height: 100svh;
        background-image: url("../assets/img/Heroes/Macbook-Air/hero_macbook_air_m3__cp4t7pn8zqaa_large_2x.jpg");
    }

    .sm-wwdc {
        background-image: url("../assets/img/Promos/wwdc2024/promo_wwdc24_announce__fv0p5miwnjiq_small_2x.jpg");
    }

    .md-wwdc {
        background-image: url("../assets/img/Promos/wwdc2024/promo_wwdc24_announce__fv0p5miwnjiq_medium_2x.jpg");
    }

    .lg-wwdc {
        background-image: url("../assets/img/Promos/wwdc2024/promo_wwdc24_announce__fv0p5miwnjiq_large_2x.jpg");
    }

    .sm-visionpro {
        background-image: url("../assets/img/Promos/Apple-Vision-Pro/promo_apple_vision_pro__f4v4zp0sum2y_small_2x.jpg");
    }

    .md-visionpro {
        background-image: url("../assets/img/Promos/Apple-Vision-Pro/promo_apple_vision_pro__f4v4zp0sum2y_medium_2x.jpg");
    }

    .lg-visionpro {
        background-image: url("../assets/img/Promos/Apple-Vision-Pro/promo_apple_vision_pro__f4v4zp0sum2y_large_2x.jpg");
    }

    .sm-applewatch {
        background-image: url("../assets/img/Promos/Apple-Watch-Series-9/promo_apple_watch_series_9_order__b3u85rm9zf6u_small_2x.jpg");
    }

    .md-applewatch {
        background-image: url("../assets/img/Promos/Apple-Watch-Series-9/promo_apple_watch_series_9_order__b3u85rm9zf6u_medium_2x.jpg");
    }

    .lg-applewatch {
        background-image: url("../assets/img/Promos/Apple-Watch-Series-9/promo_apple_watch_series_9_order__b3u85rm9zf6u_large_2x.jpg");
    }

    .sm-airpodspro {
        background-image: url("../assets/img/Promos/Airpods-Pro/promo_airpods_pro__erhb1guhr1si_small_2x.jpg");
    }

    .md-airpodspro {
        background-image: url("../assets/img/Promos/Airpods-Pro/promo_airpods_pro__erhb1guhr1si_medium_2x.jpg");
    }

    .lg-airpodspro {
        background-image: url("../assets/img/Promos/Airpods-Pro/promo_airpods_pro__erhb1guhr1si_large_2x.jpg");
    }

    .sm-applecard {
        background-image: url("../assets/img/Promos/Apple-Card/tile__cauwwcyyn9hy_small_2x.jpg");
    }

    .md-applecard {
        background-image: url("../assets/img/Promos/Apple-Card/tile__cauwwcyyn9hy_medium_2x.jpg");
    }

    .lg-applecard {
        background-image: url("../assets/img/Promos/Apple-Card/tile__cauwwcyyn9hy_large_2x.jpg");
    }

    .sm-iptrade {
        background-image: url("../assets/img/Promos/iPhone-Trade-In/promo_iphone_tradein__bugw15ka691e_small_2x.jpg");
    }

    .md-iptrade {
        background-image: url("../assets/img/Promos/iPhone-Trade-In/promo_iphone_tradein__bugw15ka691e_medium_2x.jpg");
    }

    .lg-iptrade {
        background-image: url("../assets/img/Promos/iPhone-Trade-In/promo_iphone_tradein__bugw15ka691e_large_2x.jpg");
    }

    .sm-kotfm {
        background-image: url("../assets/img/Apple-Tv/killers-of-the-flowers-moon/killers_of_the_flowers_moon_548x1186.jpg");
    }

    .md-kotfm {
        background-image: url("../assets/img/Apple-Tv/killers-of-the-flowers-moon/killers_of_the_flowers_moon_1378x774.jpg");
    }

    .lg-kotfm {
        background-image: url("../assets/img/Apple-Tv/killers-of-the-flowers-moon/killer_of_the_flowers_moon_1960x1102.jpg");
    }

    .xl-kotfm {
        background-image: url("../assets/img/Apple-Tv/killers-of-the-flowers-moon/killers_of_the_flowers_moon_2500x1406.jpg");
    }

    .sub-li {
        max-height: 0;
        padding: 0;
        overflow: hidden;
        transition: max-height .5s ease-in;
    }

    .li.active .sub-a {
        max-height: 318px;
    }

    .li.active .sub-b {
        max-height: 122px;
    }

    .li.active .sub-c {
        max-height: 310px;
    }

    .li.active .sub-d {
        max-height: 310px;
    }

    .li.active .sub-e {
        max-height: 94px;
    }

    .li.active .sub-f {
        max-height: 64px;
    }

    .li.active .sub-g {
        max-height: 94px;
    }

    .li.active .sub-h {
        max-height: 94px;
    }

    .li.active .sub-i {
        max-height: 66px;
    }

    .li.active .sub-j {
        max-height: 220px;
    }

    .li.active .sub-k {
        max-height: 220px;
    }

    .li.active div>span {
        transform: rotate(180deg);
    }

    .li.active span {
        transition: transform .5 ease-in;
    }

    .vertical-line::after {
        content: "|";
        margin: 0 5px;
    }



    @media screen and (min-width: 735px) {
        .kolom {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        .kotfm {
            width: 689px;
            height: 367px;
            background-image: url("../assets/img/Apple-Tv/killers-of-the-flowers-moon/killers_of_the_flowers_moon_1378x774.jpg");
        }

        .top-info {
            display: none;
        }
    }

    @media screen and (min-width: 832px) {

        .sub-li {
            max-height: 100%;
        }
    }

    @media screen and (min-width: 1069px) {
        .kotfm {
            width: 980px;
            height: 523px;
            background-image: url("../assets/img/Apple-Tv/killers-of-the-flowers-moon/killer_of_the_flowers_moon_1960x1102.jpg");
        }

        .bottom-info {
            flex-direction: row;
        }

        .bottom-info .genre:after {
            content: "•";
            margin: 0 5px;
        }

        .flex.flex-col.min-\[735px\]\:items-start.min-\[735px\]\:flex-row-reverse.min-\[735px\]\:ml-9.items-center.ffxc.justify-center.mb-5.text-white {
            align-items: center;
        }

        .md-wwdc {
            height: 580px;
        }

        .lg-wwdc {
            height: 580px;
        }

        .md-visionpro {
            height: 580px;
        }

        .lg-visionpro {
            height: 580px;
        }

        .md-applewatch {
            height: 580px;
        }

        .lg-applewatch {
            height: 580px;
        }

        .md-airpodspro {
            height: 580px;

            .lg-airpodspro {
                height: 580px;
            }

            .md-applecard {
                height: 580px;
            }

            .lg-applecard {
                height: 580px;
            }

        }

        @media screen and (min-width: 1441px) {
            .kotfm {
                width: 1250px;
                height: 667px;
                background-image: url("../assets/img/Apple-Tv/killers-of-the-flowers-moon/killers_of_the_flowers_moon_2500x1406.jpg");
            }
        }
    }
}